.contacts-container {
	background-color: #065a8b;
	padding: 10px 20px;
	text-align: center;
}

.contact--wrap {
	background-color: #003f61;
	border-radius: 5px;
	box-shadow: inset 0 0 15px 2px #fd9866;
	color: #1bd5ff;
	display: inline-block;
	margin: 4px;
	padding: 20px;
	width: 320px;
}

.contact--information {
	color: #7B8F9A;
}