.contacts-container {
	padding: 10px 20px;
	text-align: center;
}

.contact--wrap {
	color: #1bd5ff;
	display: inline-block;
	margin: 4px;
	padding: 10px;
	width: 320px;
}

.contact--avatar-wrap {
	border: 1px solid #dddddd;
	border-radius: 5px;
	box-shadow: 0 0 2px #A09F9F;
	margin: 0 auto 10px;
	max-width: 150px;
	padding: 4px;
}

.contact--avatar {
	border-radius: 5px;
	margin-bottom: -3px;
	max-width: 100%;
}

.contact--name {
	font-size: 1.1rem;
	font-weight: 600;
}

.contact--information {
	color: #747E84;
}
