<div class="contact--avatar-wrap">
  <img class="contact--avatar" src="../img/contacts/{{ avatar }}">
</div>
<h3 class="contact--name">
  {{name}}
</h3>
<ul class="contact--information">
  <li>Phone Number: {{ tel }}</li>
  <li>Email: {{ email }}</li>
</ul>