<img class="media-object" src="app/img/faces/<%- avatar %>">
<div class="contact--heading">
  <h3>
    {{name}}
  </h3>
</div>
<ul class="contact--information">
  <li>Phone Number: {{ tel }}</li>
  <li>Email: {{ email }}</li>
</ul>